<div id="copyrights">
		<div class="inset">
			<div class="bigcontainer">
				<div class="fl">
					<div class="logo"></div>
					<p>&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
            Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>.<br /> Theme by <a href="http://github.com/ghaseminya">Ghaseminya</a></p>
				</div>
			</div>
		</div>
	</div>
